<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Buchungsmanagement-System</title>
</head>
<body>
    
    <h1>Willkommen, {{ user }}!</h1>
    <p>Das ist das Buchungsmanagement-System.</p>
    <p><a href="{{ url_for('rent') }}">Raum mieten</a></p>
    <h2>Ihre Buchungen:</h2>
    <ul>
    {% for buchung in buchungen %}
        <li>Raum: {{ buchung.room }} | Zeitraum: {{ buchung.start_time }} bis {{ buchung.end_time }}</li>
    {% endfor %}
    </ul>
</body>
</html>

