<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Karte</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        /* Die Karte soll den gesamten Viewport des iframes einnehmen */
        #map {
            width: 100%;
            height: 100vh; /* Die Karte soll den gesamten verfügbaren Raum im iframe einnehmen */
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="static/map.js"></script>
</body>
</html>
