<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzerdetails</title>
</head>
<body>
    <h1>Details zum Benutzer</h1>
    <p><strong>Firstname:</strong> {{ user.Firstname }}</p>
    <p><strong>Lastname:</strong> {{ user.Lastname }}</p>
    <p><strong>E-Mail:</strong> {{ user.email }}</p>
    <p><strong>Telefon:</strong> {{ user.phone }}</p>
    <p><strong>Zimmer-ID:</strong> {{ user.zimmer_id }}</p>
    <p><strong>Datum:</strong> {{ user.date }}</p>
    <a href="#" onclick="window.close();">Fenster schließen</a>
</body>
</html>
