---
apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: ${cluster_host}
      certificate-authority-data: ${cluster_ca_certificate}
    name: ${cluster_name}
contexts:
  - context:
      cluster: ${cluster_name}
      user: ${cluster_name}
    name: ${cluster_name}
current-context: ${cluster_name}
preferences: {}
users:
  - name: ${cluster_name}
    user:
      client-certificate-data: ${client_certificate}
      client-key-data: ${client_key}
